.env
.env.local
.env.production
.env.staging
.venv.development
.venv.production
.venv.staging
.venv 
.env.test
__pycache__/
*.pyc
db.sqlite3
/staticfiles/
.vscode/
.idea/
.DS_Store
coverage
coverage.*
htmlcov/
.pytest_cache/
logger/
logs/
*.log
celerybeat-schedule
*.txt
logger/logs.txt
.db_cloud.sqlite3
.data/*
/data